:root {
    --red-intense: #D91C30;
    --red-darker: #841A20;
    --yellow-golden:#E2AE58;
    --gold-shadow-color: rgba(255, 215, 0, 0.5);
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 700;
    }

.italic {
    font-style: italic;
}

#main-section{
    width: 100%;
    height: 200vw;
    background-image: linear-gradient( 180deg, rgba(0,0,0,0.90) 0%, rgba(0,0,0,0.90) 100% ) ,url('../../images/logo_blanco.png');    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#main-section-title{
    background-image: linear-gradient( 180deg, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.55) 100% ) ,url('../../images/siding-2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:25vw;

}

#main-section-title div{
    padding-top: 8vw;
    padding-left: 2vw;
}

#main-section-title h2{
    color: var(--red-intense);
    margin:0;
    font-size: 2.5vw;
    text-shadow: 
        1px 1px 0px black, 
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

#main-section-title h1{
    color: var(--yellow-golden);
    margin:0;
    font-size: 5.5vw;
    text-shadow: 
        1px 1px 0px black, 
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

#main-section-content{
    width: 100%;
    padding-top: 5vw;
    display: flex;
    flex-wrap: wrap;
}

#main-section-info{
    width: 65%;
    height:100vw;
    padding-left: 3vw;
    color: var(--yellow-golden);
    font-size: 1.4vw;
}

#main-section-info h3{
    color: var(--red-intense);
    font-size: 2vw;
    text-align: center;
}

#main-section-info-title{
    width: 100%;
    padding-left: 2vw;
}

#main-section-info-title h2{
    color: var(--red-intense);
    margin:0;
    font-size: 3.5vw;
}

#main-section-info-title h1{
    color: var(--yellow-golden);
    margin:0;
    font-size: 4vw;
    padding-right: 10vw;
}

#main-section-info li{
    font-size: 1.5vw;
    line-height: 1.6vw;
    padding: 0.3vw;
}

#main-section-info-info{
    padding-top: 1.5vw;
    padding-right: 4vw;
}

#main-section-info-info p{
    font-size: 1.6vw;
    line-height: 2.2vw;
}

#main-section-form{
    width: 30%;
    height:65vw;
    padding-top: 10vw;
}

#client-info-form{
    width: 90%;
    height: 30vw;
    padding-bottom: 1vw;
    color:var(--yellow-golden);
    border-radius:0.80rem;
    border: 4px solid var(--yellow-golden);
     box-shadow: 
    0px 0px 8px 5px var(--gold-shadow-color);
}

#client-info-form-first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vw;
    padding-left: 0.7vw;
}

.form-big-group{
    padding-left: 1vw;
    padding-right: 2vw;
    width:12vw;
    height: 12vw;
}

.form-group{
    padding: 1vw;
    width:12vw;
    font-size: 1.3vw;
}

.form-group input{
    margin-top: 0.5vw;
    width: 10vw;
    height:2vw;
    font-size: 1.1vw;
}

#client-info-form-second-section{
    display: flex;
    justify-content: center;
    height: 12vw;

}

#client-info-form-second-section .form-group{
    width:15vw;
    padding-right: 10vw;
}

#client-info-form-second-section .form-group textarea{
    margin-top: 0.5vw;
    font-size: 1.3vw;
    width: 22vw;
    height:6vw;
}

#form-submit-button{
    background-color: var(--red-intense);
    border: none;
    font-size: 2vw;
    border-radius: 0.25rem;
    margin-left: 2vw;
    padding: 0.5vw;
}

#phone{
    font-size: 1.1vw;
}

.sub-section-image{
    color: var(--yellow-golden);
    width: 100%;
    height:40vw;
    display: flex;
    padding-top: 3vw;
}

.sub-section-image-text{
    font-size: 1.6vw;
    line-height: 1.5vw;
    padding-left: 9.5vw;
    padding-right: 2vw;
    width: 65%;
}

.sub-section-image-text p{
    line-height: 2.5vw;
}

.sub-section-image-text h3{
    font-size: 2.5vw;
}

.sub-section-image-text li{
    padding: 0.5vw;
}

.sub-section-image-container{
    width: 45%;
    height: 55%;
    padding-left: 6vw;
    padding-right: 2vw;
    padding-bottom: 4vw;
}

.sub-section-image-container img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 0.25rem;
    padding-bottom: 4vw;
}

.subtitle{
    color:var(--red-intense);
}

#contact-us-section{
    padding-top: 8vw;
    width: 100%;
    color: var(--yellow-golden);
    text-align: center;
    height: 15vw;
}

@media (max-width: 650px){

#main-section-mobile{
    width: 100%;
    height: 1150vw;
    margin-top: 5vw;
}

#main-section-title{

    background-image: linear-gradient( 180deg, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.55) 100% ) ,url('../../images/siding-2.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height:70vw;
}

#main-section-title div{
    padding-top: 14vw;

}

#main-section-title h2{
    color: var(--red-intense);
    margin:0;
    font-size: 7vw;
    text-align: center;
    text-shadow: 
        1px 1px 0px black, 
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

#main-section-title h1{
    color: var(--yellow-golden);
    margin:0;
    font-size: 9vw;
    text-align: center;
    text-shadow: 
        1px 1px 0px black, 
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

#main-section-content{
    width: 100%;
    padding-top: 20vw;
    display: flex;
    flex-wrap: wrap;
}

#main-section-info{
    width: 100%;
    height:440vw;
    padding-left: 4vw;
    padding-right: 5vw;
    color: var(--yellow-golden);
    font-size: 5vw;
}

#main-section-info h3{
    color: var(--red-intense);
    font-size: 5.5vw;
    text-align: center;
}

#main-section-info-title{
    width: 100%;
    padding-left: 0vw;
}

#main-section-info-title h2{
    color: var(--red-intense);
    margin:0;
    font-size: 6vw;
}

#main-section-info-title h1{
    color: var(--yellow-golden);
    margin:0;
    font-size: 9vw;
}

#main-section-info-info div ul li{
    font-size: 4.5vw;
    line-height: 4.5vw;
    padding: 2.5vw;
}

#main-section-info-info{
    padding-top: 10vw;
}

#main-section-info-info p{

    font-size: 5vw;
    line-height: 6vw;
    padding-left: 4vw;
} 


.sub-section-image{
    color: var(--yellow-golden);
    width: 100%;
    padding-top: 20vw;
    height:330vw;
    display: flex;
    flex-wrap: wrap;
}

.sub-section-image-text{
    font-size: 4.5vw;
    padding-left: 9.5vw;
    padding-right: 2vw;
    width: 100%;
    height: 45%;
}

.sub-section-image-text p{
    line-height: 5vw;
}

.sub-section-image-text h3{
    font-size: 6.5vw;
}

.sub-section-image-text p{
    font-size: 5vw;
}

.sub-section-image-text ul li{
    font-size: 4.5vw;
    line-height: 4.5vw;
    padding: 2.5vw;
}


.sub-section-image-container{
    width: 80%;
    height: 60%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.sub-section-image-container img{
    width: 100%;
    height: 45%;
    object-fit: cover;
    border-radius: 0.25rem;
    padding-bottom: 15%;
}

.subtitle{
    color:var(--red-intense);
}

#contact-us-section{
    width: 100%;
    color: var(--yellow-golden);
    text-align: center;
    height: 60vw;
    padding-left: 10%;
    padding-right: 10%;
}

#main-section-form{
    width: 100%;
    height:160vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vw;
    margin-top:5vw;
    background-image:linear-gradient( 180deg, rgba(0,0,0,0.80) 0%, rgba(0,0,0,0.80) 100% ) ,url('../../images/logo_blanco.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
}

#client-info-form{
    width: 100%;
    height: 160vw;

    padding-bottom: 1vw;
    color:var(--yellow-golden);
    border-radius:0.80rem;
    border: 4px solid var(--yellow-golden);
     box-shadow: 
    0px 0px 8px 5px var(--gold-shadow-color);
}

#client-info-form-first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    padding-left: 0.7vw;
    flex-wrap: wrap;
}

.form-big-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    width:80%;
    height: 50%;
}

.form-group{
    width:100%;
    height: 30%;
    font-size:5vw;
}

.form-group input{
    margin-top: 0.5vw;
    width: 95%;
    height:40%;
    font-size: 4.5vw;
}

#client-info-form-second-section{
    display: flex;
    justify-content: center;
    height: 30%;

}

#client-info-form-second-section .form-group{
   width:80%;
    height: 80%;
    padding-right: 10%;
    padding-left: 13%;
    padding-top: 5%;
}

#client-info-form-second-section .form-group textarea{
   margin-top: 0.5vw;
    font-size: 5vw;
    width:95%;
    height:60%;
}

#form-submit-button{
    background-color: var(--red-intense);
    border: none;
    font-size: 5.5vw;
    border-radius: 0.25rem;
    margin-left: 15%;
    padding: 1vw;
}

#phone{
    font-size:  4.5vw;
}


}